*{
    margin: 0;
    padding: 0;
}
body{
    padding: 0;
    margin: 0;
    background: black;
    color: white;
    overflow: hidden;
}
header{
    display: flex;
    border-bottom: 1px solid gray;
    justify-content: end;
    align-items: center;
    font-family: 'Open Sans', sans-serif;

}
#titre{
    position: absolute;
    left: 10%;
}
ul{
    display: flex;
}
header ul li {
    margin: 15px 20px;
    cursor: pointer;
    color: gray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: 0.2s;
}
header ul li:hover{
    color: white;
}
ul div{
    margin: 0px 10px;
    cursor: pointer;
    color: gray;
    transition: 0.2s;
}
ul div:hover {
    color: white;
}


/*section*/
section{
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
}

.btn{
    background: transparent;
    color: white;
    outline: none;
    border: 1px solid gray;
    height: 25px;
    width: 120px;
    position: absolute;
    bottom: 5px;
    cursor: pointer;
}

.pirce{
    display: flex;
    background: transparent;
    font-size: xx-large;
    width: 280px;
    height: 400px;
    align-items: center;
    position: absolute;
    left: 0;
    top: 20%;
    transform: translateX(30%);
    animation: move 3s ease-in-out;
}
@keyframes move {
    from{
        opacity: 0;
        transform: translateX(0);

    }
    to {
        opacity: 1;
        transform: translateX(30%);
    }
}
.stars{
    position: absolute;
    top: 20%;
    font-size: small;
}

img{
    width: 250px;
    position: relative;
    top: 5%;
}
.swiper {
   position: absolute;
   margin-inline: initial;
   background-color: transparent;
   width: 275px;
   height: 530px;
   display: flex;
   text-align: center;
   cursor: grab;
   top: 95%;
   transform: translateY(-95%);
   animation: moveprice 1s ease-in-out;
}
@keyframes moveprice {
   from{
       opacity: 0;
       transform: translateY(-60%);

   }
   to {
       opacity: 1;
       transform: translateY(-95%);
   }
}
.swiper-pagination-bullet{
    width: 1rem;
    height: .15rem;
    background: gray;
    border-radius: 0;
    opacity: 1;
    transition: background-color .3s, wwidth .3s;
    position: relative;
    top: 10px;
  
}
.swiper-pagination-bullet-active{
    width: 1.5rem;
    background-color: white

}
.swiper-wrapper{
    position: relative;
    
}

.bio{
    position: absolute;
    color: gray;
    width: 250px;
    height: 400px;
    right: 0px;
    top: 20%;
    font-size: small;
    background: transparent;
    display: flex;
    align-items: center;
    transform: translateX(-30%);
    animation: movebio 4s ease-in-out;
}
@keyframes movebio {
    from{
        opacity: 0;
        transform: translateX(0);

    }
    to {
        opacity: 1;
        transform: translateX(-30%);
    }
}
.bio-btn{
    background: transparent;
    color: white;
    outline: none;
    border: 1px solid gray;
    height: 25px;
    width: 120px;
    cursor: pointer;
    color: gray;
    position: absolute;
    bottom: 0;;
}
.bio-btn:hover{
    color: white;
}

.watch-border img{
    width: 120px;
    position: absolute;
}